@use "../generalities/variables";

.ingredient-container {
  text-align: center;
  .ingredient-name {
    @include text-style;
    text-transform: capitalize;
    width: 100%;
    text-align: start;
    text-decoration: none;
  }
  .ingredient-name:hover {
    text-decoration: underline;
    color: variables.$red;
  }
}

@include tablet {
  .ingredient-container {
    .ingredient-name {
      font-size: 20px;
    }
    input,
    textarea {
      font-size: variables.$text-size-desktop;
    }
  }
}
@include desktop {
  .ingredient-container {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .ingredient-name {
      font-size: variables.$text-size-desktop;
    }
    input,
    textarea {
      font-size: variables.$text-size-desktop;
    }
  }
}
