@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    TITLE                                   */
/* -------------------------------------------------------------------------- */
.main-title {
  @include display-flex;
  flex-direction: column;
  h1 {
    @include title-style;
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    line-height: 36px;
  }

  h2 {
    margin: 0;
    @include sub-title-style;
    font-family: variables.$title-font;
    width: 60%;
    margin-top: 1em;
    text-align: left;
    font-style: bold;
    letter-spacing: -0.03em;
  }
}
.burger-card {
  margin: 1em;
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .main-title {
    text-align: center;

    margin: 0;
    h1 {
      margin-bottom: 0.5em;
      line-height: 60px;
    }
    .burger {
      font-size: 80px;
      letter-spacing: -8px;
    }
    h2 {
      font-size: 50px;
      text-align: left;
      margin-top: 0.5em;
      margin-left: 1.3em;
      width: 60%;
      line-height: 40px;
      letter-spacing: 2px;
    }
  }
  .burger-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
 
}

@media screen and (min-width: 901px) {
  .ideas-main {
    @include display-flex;
    flex-direction: column;
  }

  .main-title {
    flex-direction: row;
    h1 {
      font-size: 130px;
      margin-top: 0.5em;
    }
    h2 {
      font-size: variables.$title-size-desktop;
      width: 10em;
      line-height: 50px;
      text-align: right;
    }
  }
  .burger-gallery-container {
    @include display-flex;
    justify-content: start;
    max-width: 1300px;
  }
  .carousel {
    position: relative;
    cursor: grab;
    overflow: scroll;
    margin: 2em;
    scrollbar-color: variables.$red variables.$gray;
    scrollbar-width: thin;
  }

  .burger-card {
    min-width: 30%;
  }
}
