@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    TITLE                                   */
/* -------------------------------------------------------------------------- */

.main-title {
  @include display-flex-column;
  h1 {
    font-size: 3.5em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.12em;
    line-height: 36px;
    margin-bottom: 1em;
  }

  h2 {
    font-family: variables.$title-font;
    width: 80vw;
    margin: 0;
    margin-top: 1em;
    margin-left: 2em;
    text-align: left;
    font-style: bold;
  }
}
.burger-gallery-container {
  overflow: scroll;
  height: 65vh;
  scrollbar-color: variables.$red variables.$light-red;
  scrollbar-width: thin;
  margin: 0 1em;
}
@include tablet {
  .main-title {
    margin: 0;
    h1 {
      margin-bottom: 0.5em;
      line-height: 60px;
    }
    .burger {
      font-size: 80px;
      letter-spacing: -8px;
    }
    h2 {
      font-size: 50px;
      text-align: left;
      margin-top: 0.5em;
      margin-left: 1.3em;
      width: 60%;
      line-height: 40px;
      letter-spacing: 2px;
    }
  }
}

@include desktop {
  .ideas-main {
    @include display-flex-column;
  }
  .main-title {
    flex-direction: row;
    h1 {
      font-size: 130px;
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    h2 {
      font-size: variables.$title-size-desktop;
      width: 10em;
      line-height: 50px;
      text-align: right;
    }
  }
  .burger-gallery-container{
    overflow:visible;
  }
  .carousel {
    position: relative;
    cursor: grab;
    overflow: scroll;
    margin: 2em;
    scrollbar-color: variables.$red variables.$gray;
    scrollbar-width: thin;
  }
}
