@use "../generalities/variables";

@include desktop {
  .animated-wrapper {
    @include display-flex-column;
  }
  .animated-bun {
    z-index: -10;
    width: 300px;
    height: 150px;
  }
  .animated-onion {
    z-index: -10;
    width: 250px;
    height: 100px;
  }
  .animated-tomato {
    z-index: -10;
    width: 250px;
    height: 100px;
  }
  .animated-steack {
    z-index: -10;
    width: 300px;
    height: 120px;
  }
  .animated-salad {
    z-index: -10;
    width: 300px;
    height: 160px;
  }
}
