@use "../generalities/variables";

@include desktop {
  .animated-wrapper {
    @include display-flex-column;
  }
  .animated-bun {
    z-index: -10;
    background-image: url("../../assets/images/bun.png");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 150px;
  }
  .animated-onion {
    z-index: -10;
    background-image: url("../../assets/images/onion.png");
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 100px;
  }
  .animated-tomato {
    z-index: -10;
    background-image: url("../../assets/images/tomato.png");
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 100px;
  }
  .animated-steack {
    z-index: -10;
    background-image: url("../../assets/images/steack.png");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 120px;
  }
  .animated-salad {
    z-index: -10;
    background-image: url("../../assets/images/salad.png");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 160px;
  }
}
