@use "../generalities//variables";

.ingredient-card {
  @include display-flex;
  border: 2px solid variables.$red;
  border-radius: 15px;
  margin-bottom: 0.5em;
  padding: 0 1em;

  h3 {
    @include text-style;
    cursor: pointer;
    text-align: start;
    font-size: 1em;
  }
  .ingredient-list {
    @include text-style;
    font-size: 1em;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: start;
    li {
      width: 100%;
      padding: 0 0.5em;
    }
  }
}
.ingredient-card:hover {
  background-color: variables.$red;
  border: 2px solid variables.$brown;

  h3,
  ul {
    color: variables.$gray;
  }
}

