@use "../generalities/variables";
.custom-main {
  @include display-flex;
  flex-direction: column;
}

.custom-container {
  text-align: center;
  h2 {
    position: relative;
  }
  h2::before {
    content: "+";
  }
  .emoji {
    position: absolute;
    top: -3px;
  }
}
