@use "../generalities/variables";
.custom-main {
  @include display-flex;
  flex-direction: column;
}
.cross-minus {
  position: absolute;
  top: 12px;
  left: 70px;
  background-color: variables.$brown;
  width: 20px;
  height: 3px;
}
.cross-plus {
  position: absolute;
  top: 4px;
  left: 78px;
  background-color: variables.$brown;
  width: 3px;
  height: 20px;
}
.custom-container {
  background-color: pink;
  h2 {
    @include sub-title-style;
    position: relative;
    cursor: pointer;
    
  }
  h2:hover {
    color: variables.$red;
    text-decoration: underline;
  }
  .emoji {
    position: absolute;
    top: -3px;
    right: 50px;
  }
}
.ingredient-total {
  h2 {
    @include sub-title-style;
  }
  span {
    color: variables.$brown;
  }
  input {
    @include input-style;
    margin-top: 0.5em;
    width: 60%;
  }
}
.custom-burger-animation {
  display: none;
}

.name-pop-up-visible {
  z-index: 2;
  opacity: 1;
  position: absolute;
  background-color: variables.$gray;
  bottom: -270px;
  height: 27vh
}

.name-pop-up-hidden {
  z-index: -1;
  opacity: 0;
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .name-pop-up-visible{
    bottom: -309px;
    height: 28vh;
    width: 60%;
  }
}
@media screen and (min-width: 991px) {
  .custom-container {
    overflow: scroll;
    scrollbar-color: variables.$red variables.$light-red;
    scrollbar-width: thin;
    height: 60vh;
    position: fixed;
    top: 25vh;
    left: 2vw;
   
  }
  .ingredient-total {
    position: fixed;
    bottom: 0;
    right: 2vw;
  }
  .custom-burger-animation {
    display: block;
    position: fixed;
    top: 20vh;
    left: 42vw;
    height: 80vh;
    width: 30vw;
    background-image: url("../../assets/images/custom-burger.png");
    background-size: center;
    background-repeat: no-repeat;
  }
  .name-pop-up-visible{
    right:49px;
    height: 30vh;
    width: 25%;
  }
  
}
