@use "../generalities/variables";

.custom-main {
  @include display-flex;
  flex-direction: column;
}
.cross-minus {
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: variables.$brown;
  width: 20px;
  height: 3px;
}
.cross-plus {
  position: absolute;
  top: 4px;
  left: 8px;
  background-color: variables.$brown;
  width: 3px;
  height: 20px;
}
.custom-container {
  text-align: center;
  width: 380px;
  margin: auto;

  h2 {
    font-size: variables.$text-size-mobile;
    position: relative;
    cursor: pointer;
  }
  h2:hover {
    color: variables.$red;
    text-decoration: underline;
  }
  .emoji {
    position: absolute;
    top: -3px;
    right: 0px;
  }
}

.ingredient-total {
  @include display-flex-column;
  border: 2px solid variables.$red;
  border-radius: 15px;
  margin: 2em 0.5em;
  padding: 1em;
  h2, span {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
  }
  .ingredient-list {
    @include sub-title-style;
    font-size: 1.5em;
    text-align: start;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
 
  button {
    margin: 1em;
  }
}
.name-pop-up-visible {
  z-index: 2;
  opacity: 1;
  position: absolute;
  background-color: variables.$gray;
  top: 50px;
  height: 120vh;
}

.name-pop-up-hidden {
  z-index: -1;
  opacity: 0;
  transition: ease-in 0.2s;
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .name-pop-up-visible {
    bottom: -309px;
    height: 28vh;
    width: 60%;
  }
}
@media screen and (min-width: 991px) {
  .custom-container {
    overflow: scroll;
    scrollbar-color: variables.$red variables.$light-red;
    scrollbar-width: thin;
    height: 60vh;
    position: fixed;
    top: 25vh;
    left: 2vw;
  }
  .ingredient-total {
    position: fixed;
    bottom: 0;
    right: 2vw;
  }
  .name-pop-up-visible {
    right: 49px;
    height: 30vh;
    width: 25%;
  }
}
