@use "variables";

/* -------------------------------------------------------------------------- */
/*                                 login-area-desktop                                */
/* -------------------------------------------------------------------------- */
.login-area-desktop{
   display: none;
}
@media screen and (min-width: 415px){
  .login-area-desktop {
    display: block;
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: variables.$brown;
  }
}
@media screen and (min-width: 811px){
  .login-area-desktop{
    width:20%
  }
}