@use "variables";

/* -------------------------------------------------------------------------- */
/*                                 login-area                                 */
/* -------------------------------------------------------------------------- */

.login-area{
    margin:0;
    padding:0;
    background-color: variables.$brown;
}