@use "variables";

body {
  background-color: variables.$gray;
}
main {
  h1 {
    @include title-style;
    position: absolute;
    width: 274px;
    height: 88px;
    left: 60px;
    top: 80px;
  }
  h2 {
    @include sub-title-style;
    position: absolute;
    left: 145px;
    top: 480px;
  }
  p {
    @include text-style;
    position: absolute;
    width: 227px;
    height: 209px;
    left: 80px;
    top: 262px;
  }
  a {
    @include button;
  }
  a:hover {
    @include button-hover;
  }
  .bg-burger {
    width: 650px;
    height: 600px;
    margin-top: 12em;
    background-size: contain;
    background-image: url("/assets/images/bg-burger.png");
    background-repeat: no-repeat;
    background-position-x: -120%;
  }
  @media screen and (min-width: 412px) and (max-width: 810px) {
    h1 {
      left: 220px;
      top: 150px;
    }
    h2 {
      left: 330px;
      top: 550px;
    }
    p {
      left: 250px;
      top: 300px;
    }
    a {
      left: 350px;
      top: 660px;
    }
    .bg-burger {
      width: 650px;
      height: 600px;
      margin-top: 7em;
      background-position-x: -70%;
    }
  }
  @media screen and (min-width: 811px) {
    h1 {
      width: 40%;
      font-size: 80px;
      left: 580px;
      top: 150px;
      line-height: 80px;
    }
    h2 {
      font-size: 50px;
      left: 580px;
      top: 650px;
    }
    p {
      width: 30%;
      font-size: 40px;
      left: 650px;
      top: 450px;
      line-height: 40px;
    }
    a {
      padding: 2em;
      left: 1100px;
      top: 660px;
    }
    .bg-burger {
      width: 650px;
      height: 600px;
      margin-top: 7em;
      background-position-x: 0%;
    }
  }
}

/* Start building */

// font-family: 'Rowdies';
// font-style: normal;
// font-weight: 400;
// font-size: 24px;
// line-height: 30px;
// display: flex;
// align-items: center;
// text-align: center;
// letter-spacing: -0.03em;
// text-transform: uppercase;

// color: #F0F4F7;
