@use "../generalities/variables";

.not-found-wrapper {
  @include display-flex-column;
  h2 {
    max-width: 500px;
    line-height: 50px;
    text-transform: none;
  }

  figure {
    width: 200px;
    height: 200px;
    background-image: url("../../assets/images/sad-burger.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}


