@use "../generalities/variables";

.not-found-wrapper {
  @include display-flex-column;
  h2 {
    max-width: 500px;
    line-height: 50px;
    text-transform: none;
  }

  img {
    width: 200px;
    height: 200px;
  }
}
