@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                   ARTICLES                                  */
/* -------------------------------------------------------------------------- */
.about-wrapper {
  @include display-flex;
}
.about-container {
  iframe {
    width: 370px;
    height: 250px;
    border: 5px solid variables.$red;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: variables.$text-shadow;
  }
}
.article-section {
  width: 350px;
  height: auto;
  justify-content: start;
  background: linear-gradient(
    180deg,
    rgba(200, 90, 68, 1) 35%,
    rgba(221, 130, 111, 1) 100%
  );
  border-radius: 15px;
  padding: 1em;

  li {
    @include text-style;
    color: variables.$gray;
    margin: 0.5em;
    text-align: start;
    list-style: none;
  }
  a {
    color: variables.$gray;
  }
  a:hover {
    color: variables.$red;
  }
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .about-wrapper {
    iframe {
      width: 630px;
      height: 350px;
      border: 5px solid variables.$red;
      border-radius: 15px;
      margin-bottom: 1em;
    }
    .article-section {
      width: 600px;
      height: 350px;
    }
    .about-container {
      max-width: 600px;
    }
  }
}

@media screen and (min-width: 991px) {
  .about-container {
    iframe {
      width: 700px;
      height: 400px;
      border: 5px solid variables.$red;
      border-radius: 15px;
      margin-bottom: 1em;
    }
  }
  .about-wrapper {
    .about-container {
      @include display-flex;

      article {
        margin: 1em;
        padding: 1.5em;
      }
    }
    .article-section {
      width: 700px;
      height: 370px;
    }
    li {
      font-size: variables.$text-size-desktop;
      line-height: 36px;
    }
  }
}
