@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                   ARTICLES                                  */
/* -------------------------------------------------------------------------- */

h1 {
  @include title-style;
}
article {
  .article-section {
    @include display-flex;
    background-color: variables.$light-red;
    border-radius: 15px;
    padding: 2em;
    margin-bottom: 2em;
  }

  p {
    @include text-style;
    color: variables.$gray;
    margin: 0.5em;
    text-align: left;
    width: 80%;
  }
  svg {
    position: absolute;
    top: 2px;
    left: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  h1 {
    @include title-style-desktop;
  }
  article {
    p {
      @include text-style-desktop;
      color: variables.$gray;
      margin: 0.5em;
      text-align: left;
      width: 80%;
    }
  }
}

@media screen and (min-width: 901px) {
  .article-container {
    margin: 5em;
    gap: 15px;
    @include display-flex;
    max-width: 100%;
    h2 {
      font-size: 40px;
    }
    svg {
      position: absolute;
      top: -5px;
      left: 20px;
    }
    p {
      font-size: 25px;
    }
  }
  .about-title {
    font-size: 80px;
  }
 
}
