@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                   LAYOUT                                   */
/* -------------------------------------------------------------------------- */

h1 {
  @include title-style;
  
}
article {
  h2 {
    @include sub-title-style;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    padding-left: 0.5em;
    text-transform: uppercase;
    padding-left: 2em
  }
  p {
    @include text-style;
    color: variables.$gray;
    margin: 0.5em;
    text-align: left;
    width: 80%;
  }
  svg{
    position: absolute;
    top: 2px;
    left:20px
  }
}

/* -------------------------------------------------------------------------- */
/*                                 ARTICLE                                */
/* -------------------------------------------------------------------------- */

.article-section {
  @include display-flex;
  background-color: variables.$light-red;
  padding: 2em;
}

.right-article {
  flex-direction: row-reverse;
}

@media screen and (min-width: 811px) {
  .about-title {
    text-transform: uppercase;
    font-size: 80px;
  }
  article {
    @include display-flex;
  }
  .container-articles {
    max-width: 1100px;
  }
  h1 {
    @include title-style-desktop;
  }
}
