@use "../generalities/variables";

.home-page {
  @include display-flex-column;
  background-image: url("../../assets/images/bg-burger.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: -11em;
  background-position-y: 3em;
  h1 {
    width: 90%;
  }
  h2 {
    text-transform: none;
  }
  p {
    width: 65%;
    margin-left: 2em;
  }
  span,
  a {
    color: variables.$brown;
  }
  a:hover {
    color: variables.$red;
  }
  section {
    @include display-flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 10em;
    margin-left: 6em;
  }

  @include tablet {
    background-position-x: -10em;
    background-position-y: 2em;
    background-size: 45vh;
    h1 {
      width: 60%;
      margin-top: 1em;
      margin-left: 2em;
    }
    h2 {
      text-transform: none;
    }
    p {
      width: 50%;
      font-size: 35px;
      margin-left: 3.5em;
    }
    section {
      margin-left: 10em;
    }
  }
  @include desktop {
    background-position-x: 0;
    background-position-y: 0;
    background-size: 60vh;
    height: 80vh;
    h1 {
      width: 37vw;
      font-size: 7rem;
      line-height: 100px;
      margin-left: 5em;
    }
    h2 {
      font-size: variables.$sub-title-size-desktop;
      margin-left: 5em;
      font-size: 5rem;
    }
    p {
      width: 30vw;
      font-size: 3rem;
      line-height: 50px;
      margin-left: 10em;
    }
    section {
      flex-direction: row;
      gap: 2em;
    }
  }
}
