@use "../generalities/variables";

body {
  background-color: variables.$gray;
}
main {
  h1 {
    @include title-style;
    position: absolute;
    width: 400px;
    height: 80px;
    left: 10px;
    top: 80px;
  }
  h2 {
    @include sub-title-style;
    position: absolute;
    left: 145px;
    top: 400px;
  }
  p {
    @include text-style;
    font-size: 20px;
    position: absolute;
    width: 227px;
    height: 209px;
    left: 90px;
    top: 200px;
  }
  a {
    @include button;
    position: absolute;
    width: 120px;
    left: 160px;
    top: 490px;
  }
  a:hover {
    @include button-hover;
  }
  .bg-burger {
    width: 500px;
    height: 500px;
    margin-top: 8em;
    background-size: contain;
    background-image: url("/assets/images/bg-burger.png");
    background-repeat: no-repeat;
    background-position-x: -160%;
  }
  @media screen and (min-width: 415px) and (max-width: 810px) {
    h1 {
      @include title-style-desktop;
      width: 600px;
      left: 150px;
      top: 250px;
    }
    h2 {
      @include sub-title-style-desktop;
      left: 370px;
      top: 650px;
    }
    p {
      @include sub-title-style-desktop;
      width: 500px;
      left: 200px;
      top: 350px;
    }
    a {
      left: 440px;
      top: 760px;
    }
    .bg-burger {
      width: 850px;
      height: 800px;
      margin-top: 10em;
      background-position-x: -70%;
    }
  }
  @media screen and (min-width: 811px) {
    h1 {
      width: 800px;
      font-size: 100px;
      left: 50%;
      top: 20%;
      line-height: 80px;
    }
    h2 {
      font-size: 60px;
      left: 50%;
      top: 70%;
    }
    p {
      width: 700px;
      font-size: 60px;
      left: 52%;
      top: 50%;
      line-height: 50px;
    }
    a {
      font-size: 20px;
      padding: 1em 3em;
      left: 72%;
      top: 70%;
    }
    a:hover{
      font-size: 20px;
    }
    .bg-burger {
      width: 1050px;
      height: 1000px;
      margin-top: 7em;
      background-position-x: 0%;
    }
  }
}

