@use "../generalities/variables";
html {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}
body {
  background-color: variables.$gray;
  height: 100%;
}

.home-page {
  background-image: url("../../assets/images/bg-burger.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: -11em;
  background-position-y: 3em;
  @include display-flex;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  h1 {
    @include title-style;
    width: 90%;
  }
  h2 {
    @include sub-title-style;
    text-transform: none;
  }
  p {
    @include text-style;
    width: 65%;
    font-size: 20px;
    margin-left: 2em;
  }
  span,
  a {
    color: variables.$brown;
  }
  a:hover {
    color: variables.$red;
  }
  section {
    @include display-flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 10em;
    margin-left: 6em;
  }

  @media screen and (min-width: 481px) and (max-width: 990px) {
    background-position-x: -10em;
    background-position-y: 2em;
    background-size: 60vh;
    h1 {
      font-size: 3.5rem;
      width: 60%;
      margin-top: 1em;
      margin-left: 2em;
    }
    h2 {
      @include sub-title-style-desktop;
      text-transform: none;
    }
    p {
      width: 50%;
      font-size: 35px;
      margin-left: 3.5em;
    }
    section {
      margin-left: 10em;
    }
  }
  @media screen and (min-width: 991px) {
    background-position-x: 0;
    background-position-y: 0;
    background-size: 60vh;
    h1 {
      width: 40vw;
      font-size: 100px;
      line-height: 80px;
      margin: 1.5em 0em 0em 5em;
    }
    h2 {
      font-size: variables.$sub-title-size-desktop;
      margin-left: 8em;
    }
    p {
      width: 30vw;
      font-size: 45px;
      line-height: 50px;
      margin-left: 10em;
    }
    section {
      flex-direction: row;
      gap: 2em;
    }
  }
}
