@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    FORM                                    */
/* -------------------------------------------------------------------------- */
.center-container {
  text-align: center;

  .form-container {
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin: 2em;
    background: radial-gradient(
      circle,
      rgba(221, 130, 111, 1) 0%,
      rgba(200, 90, 68, 1) 100%
    );

    article {
      @include display-flex;
      margin: 0 1em;
    }
    aside {
      margin-top: 1em;
    }
    a,
    small {
      @include text-style;
      font-size: 15px;
      cursor: pointer;
      padding: 1em;
      text-decoration: underline;
    }
    a:hover,
    small:hover {
      color: variables.$gray;
      text-decoration: underline;
    }
    span,
    p {
      color: variables.$gray;
      padding: 1em;
      font-size: 15px;
    }
  }
}
@include tablet {
  .center-container {
    max-width: 600px;
    margin: auto;
    .form-container {
      h2 {
        line-height: 50px;
      }
      article {
        max-width: 400px;
        margin: auto;
      }
      p {
        font-size: variables.$text-size-mobile;
      }
    }
  }
}
@include desktop {
  .center-container {
    @include display-flex;
    align-items: start;
    background-image: url("../../assets/images/bg-full.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    .form-container {
      margin-top: 5%;
      max-width: 500px;
      input::placeholder {
        font-size: 20px;
      }
      p {
        font-size: variables.$text-size-mobile;
      }
    }
    article {
      max-width: 400px;
      margin: auto;
    }
    h2 {
      margin-top: 2em;
      margin-left: 5em;
      font-family: variables.$title-font;
      font-size: 5em;
      line-height: 100px;
      color: variables.$gray;
      width: 30%;
      text-align: left;
      text-shadow: 8px 1px 2px variables.$red;
    }
    button {
      font-size: 20px;
      padding: 1em 2em;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                  RECOVERY                                  */
/* -------------------------------------------------------------------------- */

// .recovery-form-container {
//   background-color: variables.$light-red;
//   margin: 1em;
//   padding: 1em;
//   border-radius: 15px;
//   span {
//     @include text-style;
//     color: variables.$gray;
//   }
//   article {
//     @include display-flex;
//     flex-direction: row;
//   }
//   input {
//     width: 50%;
//     margin: 0 0.5em;
//     color: variables.$brown;
//   }
//   p {
//     @include text-style;
//     color: variables.$gray;
//   }
//   small {
//     padding: 0.5em;
//     color: variables.$gray;
//   }
// }
// @media screen and (min-width: 481px) and (max-width: 990px) {
//   .otp-wrapper {
//     h2 {
//       @include sub-title-style-desktop;
//     }
//     p {
//       @include text-style-desktop;
//       color: variables.$gray;
//     }
//     small {
//       @include text-style;
//       color: variables.$gray;
//     }
//     input {
//       width: 10%;
//       margin: 0 0.5em;
//     }
//   }
// }
// @media screen and (min-width: 991px) {
//   .otp-wrapper {
//     @include display-flex;
//     flex-direction: column;
//     .recovery-form-container {
//       max-width: 600px;
//     }
//     h2 {
//       @include sub-title-style-desktop;
//     }
//     p {
//       @include text-style-desktop;
//       color: variables.$gray;
//     }
//     small {
//       @include text-style;
//       color: variables.$gray;
//     }
//     input {
//       width: 10%;
//       margin: 0 0.5em;
//     }
//   }
// }
