@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    FORM                                    */
/* -------------------------------------------------------------------------- */
.disable {
  display: none;
}
.center-container {
  text-align: center;
  .form-container {
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin: 1em;
    background: radial-gradient(
      circle,
      rgba(221, 130, 111, 1) 0%,
      rgba(200, 90, 68, 1) 100%
    );
    box-shadow: variables.$text-shadow;
    .PhoneInput {
      margin-right: 2.5em;
    }
    label {
      @include text-style;
      color: variables.$gray;
      margin-top: 1em;
    }
    article {
      @include display-flex;
      margin: 0 1em;
    }
    aside {
      margin-top: 1em;
    }
    a,
    small {
      @include text-style;
      font-size: 15px;
      cursor: pointer;
      padding: 1em;
      text-decoration: underline;
    }
    a:hover,
    small:hover {
      color: variables.$gray;
      text-decoration: underline;
    }
    span,
    p {
      color: variables.$gray;
      font-size: 15px;
    }
  }
}
@include tablet {
  .center-container {
    max-width: 600px;
    margin: auto;
    .form-container {
      margin: 2em;
      h2 {
        line-height: 50px;
      }
      input {
        font-size: variables.$text-size-mobile;
      }
      article {
        max-width: 400px;
        margin: auto;
      }
      p {
        font-size: variables.$text-size-mobile;
      }
    }
  }
}
@include desktop {
  .center-container {
    @include display-flex;
    align-items: start;
    background-image: url("../../assets/images/bg-full.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 84vh;
    .form-container {
      margin-top: 11em;
      margin-left: 5em;
      max-width: 500px;
      form {
        padding: 1em;
      }
      input::placeholder {
        font-size: 20px;
      }
      p {
        font-size: variables.$text-size-mobile;
      }
    }
    .create-form {
      margin-top: 2em;
    }
    article {
      max-width: 400px;
      margin: auto;
    }
    h2 {
      margin-top: 2em;
      margin-left: 4em;
      font-family: variables.$title-font;
      font-size: 5em;
      line-height: 100px;
      color: variables.$gray;
      width: 30%;
      text-align: left;
      text-shadow: 8px 1px 2px variables.$red;
    }
    button {
      font-size: 20px;
      padding: 1em 2em;
      margin-bottom: 1em;
    }
  }
}
