@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    FORM                                    */
/* -------------------------------------------------------------------------- */

.form-container {
  text-align: center;
  height: 100vh;
}
h1 {
  @include title-style;
}
form {
  @include display-flex;
  flex-direction: column;
  height: 40vh;
  input {
    @include input-style;
    margin-top: 0.5em;
  }
  input::placeholder {
    color: variables.$gray;
    background-color: variables.$red;
    font-family: variables.$text-font;
  }
}

button {
  @include button-style;
  padding: 0.5em 1.5em;
  border-radius: 15px;
}

button:hover {
  @include button-style-hover;
}
@media screen and (min-width: 811px) {
    h1{
        color:variables.$gray
    }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background-color: variables.$light-red;
    width: 60%;
    input {
      padding: 1em;
    }
    input::placeholder{
        font-size: 20px;
    }
  }
  button {
    font-size: 20px;
    margin: 2em;
    padding: 1em 2em;
  }
}
