@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                 login-area-desktop                                */
/* -------------------------------------------------------------------------- */
.login-area-desktop {
  display: none;
}

@include desktop {
  .mobile-connect {
    display: none;
  }
  .login-area-desktop {
    width: 25%;
    display: block;
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: variables.$light-red;
    text-align: start;
    a {
      position: relative;
      font-family: variables.$text-font;
      text-decoration: none;
      color: variables.$gray;
      padding: 0.5em;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline white;
    }
    svg {
      position: absolute;
      top: 18px;
      left: -20px;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
      font-size: variables.$text-size-mobile;
      margin: 0em 2em;
      width: 100%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                               MOBILE CONNECT                               */
/* -------------------------------------------------------------------------- */

.mobile-connect {
  a {
    position: relative;
    font-family: variables.$text-font;
    color: variables.$gray;
    text-decoration: none;
    margin: 0.5em 0.5em;
    cursor: pointer;
  }
  svg {
    position: absolute;
  }
  a:hover {
    text-decoration: underline;
  }
  .buttons {
    @include display-flex-column;
    align-items: start;
    padding: 1em;
    background-color: variables.$red;
    border: 1px solid variables.$gray;
    border-radius: 15%;
  }
  .form-icon {
    top: 1px;
    left: -18px;
  }
  .slide-in {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 0px;
    transition: ease-out 0.5s;
  }
  .slide-out {
    position: absolute;
    z-index: 2;
    top: -300px;
    right: 0;
    transition: ease-out 0.5s;
  }
  @include tablet {
    .buttons {
      display: inline-block;
      border-radius: 15px;
      a {
        margin: 1em;
      }
    }
    .slide-in {
      top: 50px;
      right: 220px;
    }
    .slide-out {
      top: -200px;
      right: 200px;
    }
  }
}
