@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                 login-area-desktop                                */
/* -------------------------------------------------------------------------- */
.login-area-desktop {
  display: none;
}

@media screen and (min-width: 415px) {
  .mobile-connect {
    display: none;
  }
  .login-area-desktop {
    width: 40%;
    display: block;
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: variables.$light-red;
    text-align: center;
    input {
      @include input-style;
    }
    input::placeholder {
      color: variables.$gray;
      background-color: variables.$red;
    }
    a {
      position: relative;
      font-family: variables.$text-font;
      text-decoration: none;
      color: variables.$gray;
    }
    a:hover{
      text-decoration: underline white;
    }
    .buttons {
     display:flex;
     justify-content: center;
     flex-direction: column;
     align-items: start;
     font-size: variables.$sub-title-size-mobile;
     margin:1em 2em;
     gap: 1.5em;
    }
    .form-icon{
      position: absolute;
      top:2px;
      left:-30px;
    }
    button {
      @include button-style;
      
    }
    button:hover {
      @include button-style-hover;
    }
  }
}
@media screen and (min-width: 811px) {
  .login-area-desktop {
    width: 20%;
    text-align: center;

    input {
      font-family: variables.$text-font;
      border: 2px solid variables.$red;
    }
    input::placeholder {
      color: variables.$gray;
      background-color: variables.$red;
    }
    a {
      position: relative;
      font-family: variables.$text-font;
      text-decoration: none;
      color: variables.$gray;
    }
    a:hover{
      text-decoration: underline white;
    }
    .buttons {
     display:flex;
     justify-content: center;
     flex-direction: column;
     align-items: start;
     font-size: variables.$sub-title-size-mobile;
     margin:1em 2em;
     gap: 1.5em;
    }
    .form-icon{
      position: absolute;
      top:2px;
      left:-30px;
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                               MOBILE CONNECT                               */
/* -------------------------------------------------------------------------- */
button {
  cursor: pointer;
}
.mobile-connect {
  a {
    font-family: variables.$text-font;
    color: variables.$gray;
    text-decoration: none;
    margin: 0.5em 0;
  }
  a:hover {
    text-decoration: underline;
  }
  .buttons {
    @include display-flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    background-color: variables.$red;
    border: 1px solid variables.$gray;
    border-radius: 15%;
  }

  .slide-in {
    position: absolute;
    z-index: 2;
    top: 82px;
    left: 250px;
    transition: ease-out 0.5s;
  }
  .slide-out {
    z-index: 2;
    position: absolute;
    top: -300px;
    right: 0;
    transition: ease-out 0.5s;
  }
}
