@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                 login-area-desktop                                */
/* -------------------------------------------------------------------------- */
.login-area-desktop {
  display: none;
}

@media screen and (min-width: 811px) {
  .mobile-connect {
    display: none;
  }
  .login-area-desktop {
    width: 25%;
    display: block;
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: variables.$light-red;
    text-align: start;
    a {
      position: relative;
      font-family: variables.$text-font;
      text-decoration: none;
      color: variables.$gray;
      padding: .5em;
    }
    a:hover {
      text-decoration: underline white;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
      font-size: variables.$sub-title-size-mobile;
      margin: 0em 2em;
      width: 100%;
    }
    .form-icon {
      position: absolute;
      top: 13px;
      left: -20px;
    }
    button {
      @include button;
    }
    button:hover {
      @include button-style-hover;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                               MOBILE CONNECT                               */
/* -------------------------------------------------------------------------- */
button {
  cursor: pointer;
}
.mobile-connect {
  a {
    position: relative;
    font-family: variables.$text-font;
    color: variables.$gray;
    text-decoration: none;
    margin: 0.5em 0.5em;
  }
  a:hover {
    text-decoration: underline;
  }
  .buttons {
    @include display-flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    background-color: variables.$red;
    border: 1px solid variables.$gray;
    border-radius: 15%;
  }
  .form-icon {
    top: 1px;
    left: -18px;
  }
  .slide-in {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 250px;
    transition: ease-out 0.5s;
  }
  .slide-out {
    z-index: 2;
    position: absolute;
    top: -300px;
    right: 0;
    transition: ease-out 0.5s;
  }
  @media screen and (min-width: 415px) and (max-width: 810px) {
    .buttons {
      display: inline-block;
      border-radius: 15px;
      a {
        margin: 1em;
      }
    }
    .slide-in {
      top: -135px;
      left: 250px;
    }
    .slide-out {
      top: -160px;
      left: -1500px;
    }
  }
}
