@use "../generalities/variables";

html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  position: relative;
  background-color: variables.$gray;
}

h1 {
  @include title-style;
}

h2 {
  @include sub-title-style;
}
a {
  color: variables.$brown;
}

ul {
  margin: 0;
  list-style: none;
}
input,
textarea {
  @include input-style;
}
textarea {
  color: variables.$gray;
}
button {
  @include button;
}
button:hover {
  @include button-hover;
}
p,
span {
  @include text-style;
}

form {
  @include display-flex;
  flex-direction: column;
  padding: 2em 0;

  input,
  textarea {
    @include input-style;
    margin-top: 0.5em;
  }
  input::placeholder {
    color: variables.$red;
    font-family: variables.$text-font;
  }
}

@include tablet {
  h1 {
    @include title-style-desktop;
  }

  h2 {
    @include sub-title-style-desktop;
  }

  p,
  span {
    @include text-style-desktop;
  }
}
@include desktop {
  h1 {
    @include title-style-desktop;
  }

  h2 {
    @include sub-title-style-desktop;
  }

  p,
  span {
    @include text-style-desktop;
  }
  input,
  textarea {
    @include input-style-desktop;
  }
}
