@use "./variables";

@mixin title-style {
  color: variables.$brown;
  font-family: variables.$title-font;
  font-size: variables.$title-size-mobile;
  text-shadow: variables.$text-shadow;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
@mixin title-style-desktop {
  color: variables.$brown;
  font-family: variables.$title-font;
  font-size: variables.$title-size-desktop;
  text-shadow: variables.$text-shadow;
  line-height: 50px;
  text-align: center;
}
@mixin sub-title-style {
  color: variables.$brown;
  font-family: variables.$text-font;
  font-size: variables.$sub-title-size-mobile;
  text-shadow: variables.$text-shadow;
  line-height: 28px;
  text-align: center;
}
@mixin sub-title-style-desktop {
  color: variables.$brown;
  font-family: variables.$text-font;
  font-size: variables.$sub-title-size-desktop;
  text-shadow: variables.$text-shadow;
  line-height: 28px;
  text-align: center;
}
@mixin text-style {
  color: variables.$brown;
  font-family: variables.$text-font;
  font-size: variables.$text-size-mobile;
  text-shadow: variables.$text-shadow;
  line-height: 28px;
  text-align: center;
}
@mixin text-style-desktop {
  color: variables.$brown;
  font-family: variables.$text-font;
  font-size: variables.$text-size-desktop;
  text-shadow: variables.$text-shadow;
  line-height: 28px;
  text-align: center;
}
@mixin burger-style {
  margin: 3px;
  width: 50px;
  height: 3px;
  background-color: variables.$gray;
}
@mixin nav-option {
  font-family: variables.$text-font;
  font-style: variables.$title-font;
  font-size: variables.$sub-title-size-mobile;
  color: variables.$white;
  line-height: 50px;
  display: flex;
  border-bottom: 1px solid variables.$white;
  padding: 0.5em;
}

@mixin button {
  padding: 1.2em;
  color: variables.$white;
  background-color: variables.$red;
  border: 1px solid variables.$brown;
  font-family: variables.$text-font;
  font-size: variables.$text-size-mobile;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

@mixin button-hover {
  color: variables.$red;
  background-color: variables.$white;
  border: 1px solid variables.$red;
  font-family: variables.$text-font;
  font-size: variables.$text-size-mobile;
  scale: 1.1;
  transition: 0.3s;
}

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-style{
  font-family: variables.$text-font;
  margin: 0.2em;
  padding: 0.5em;
  border: 2px solid variables.$red;
}

@mixin button-style{
  font-family: variables.$text-font;
  border: 2px solid variables.$red;
  color: variables.$gray;
  background-color: variables.$red;
  
}
@mixin button-style-hover{
  
    font-family: variables.$text-font;
    border: 2px solid variables.$red;
    color: variables.$red;
    background-color: variables.$gray;
  
}