@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Lato&family=Merriweather+Sans:ital@1&family=Pixelify+Sans&family=Rowdies&family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Lato&family=Merriweather+Sans:ital@1&family=Pixelify+Sans&family=Roboto&family=Rowdies&family=Six+Caps&display=swap");

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$brown: #825b56;
$red: #c85a44;
$light-red:#dd826f;
$gray: #faf6f6;
$white: white;
$black: black;

/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */

$title-font: "Rowdies", sans-serif;
$text-font: "Roboto", sans-serif;
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* -------------------------------------------------------------------------- */
/*                                 TEXT-SIZES-MOBILE                                */
/* -------------------------------------------------------------------------- */

$title-size-mobile: 2.5em;
$sub-title-size-mobile: 1.5em;
$text-size-mobile: 1em;


/* -------------------------------------------------------------------------- */
/*                              TEXT-SIZE-DESKTOP                             */
/* -------------------------------------------------------------------------- */

$title-size-desktop: 4em;
$sub-title-size-desktop: 2.5em;
$text-size-desktop: 2em;