@use "../generalities/variables";

.main-contact-wrapper {
  text-align: center;
  article {
    text-align: start;
  }
}
.contact-container-logout {
  @include display-flex-column;
  align-items: start;

  p {
    padding: 0 1em;
  }
}
.main-title {
  .think {
    margin-top: 0.1em;
    font-size: 4.5rem;
  }
}
.contact-container {
  @include display-flex-column;
  p {
    padding: 0 1em;
  }
  span {
    padding-top: 1em;
  }
  h2 {
    padding-left: 0;
  }
  form {
    width: 100%;
  }
}

.business-wrapper-logout {
  a {
    @include text-style;
    text-decoration: none;
  }
  svg {
    position: relative;
    top: 2px;
    left: -3px;
  }
}
.business-wrapper {
  .business {
    margin-bottom: 2em;
  }

  a {
    color: variables.$brown;
    text-decoration: none;
  }
  svg {
    position: relative;
    top: 2px;
    left: -3px;
  }

  ul {
    @include text-style;
    text-align: start;
    list-style: none;
  }
}
.icon-container-contact {
  @include display-flex;
  justify-content: space-around;
  font-size: 50px;
  .facebook-icon {
    color: #316ff6;
  }
  .insta-icon {
    color: #8a3ab9;
  }
  .twitter-icon {
    color: black;
  }
}
textarea::placeholder {
  color: variables.$red;
}
.where-to-wrapper {
  iframe {
    width: 90vw;
    height: 250px;
    border: 3px solid variables.$red;
    border-radius: 10px;
  }
}
@include tablet {
  .main-title {
    .think {
      font-size: 7rem;
      letter-spacing: -10px;
    }
  }
  .icon-container-contact {
    font-size: 70px;
  }
}

@include desktop {
  .main-contact-wrapper {
    .main-title {
      h1 {
        font-size: 130px;
        margin-top: 0.5em;
        padding-right: 1.5em;
      }
      h2 {
        font-size: variables.$title-size-desktop;
        width: 10em;
        line-height: 50px;
        text-align: right;
      }
    }
    .contact-container {
      flex-direction: row;
      align-items: start;
      section,
      form {
        width: 50%;
      }
    }
    .business-wrapper-logout {
      a {
        @include text-style-desktop;
      }
      svg {
        position: relative;
        top: 2px;
        left: -3px;
      }
    }
    .icon-container-contact {
      margin: 1em;
      font-size: 70px;
      .facebook-icon {
        color: #316ff6;
      }
      .insta-icon {
        color: #8a3ab9;
      }
      .twitter-icon {
        color: black;
      }
    }
    .business-wrapper {
      position: absolute;
      top: 60vh;
      left: 0;
      width: 50%;
    }
    .business-title {
      position: absolute;
      top: 50vh;
      left: 25%;
      width: 50%;
    }
  }
}
