@use "../generalities/variables";
main {
  text-align: center;
}

.sub-title-contact {
  padding-left: 0.5em;
}

.contact-container {
  @include display-flex;
  flex-direction: column;
  p {
    width: 100%;
    @include text-style;
    text-align: left;
    padding: 0 1em;
  }

  h2 {
    @include sub-title-style;
    padding-left: 0;
  }

  form {
    width: 100%;
    input {
      @include input-style;
    }
    textarea {
      @include input-style;
      margin-top: 0.5em;
    }
  }
}
.business-wrapper {
  .business {
    margin-bottom: 2em;
  }
  h2 {
    @include sub-title-style;
  }
  a {
    color: variables.$brown;
    text-decoration: none;
  }
  svg {
    position: relative;
    top: 2px;
    left: -3px;
  }

  ul {
    @include text-style;
    text-align: start;
    list-style: none;
   
  }
}
.icon-container-contact {
  @include display-flex;
  justify-content: space-around;
  font-size: 50px;
  .facebook-icon {
    color: #316ff6;
  }
  .insta-icon {
    color: #8a3ab9;
  }
  .twitter-icon {
    color: black;
  }
}
textarea::placeholder {
  color: variables.$red;
}
.where-to-wrapper {
  h2 {
    @include sub-title-style;
  }
  iframe {
    width: 95%;
    height: 250px;
    border: 3px solid variables.$red;
    border-radius: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .main-title {
    h1 {
      font-size: 94px;
      line-height: 64px;
      padding-right: 0.3em;
    }
    h2 {
      width: 60%;
    }
  }
  .contact-container {
    h2 {
      @include sub-title-style-desktop;
    }
    p {
      @include text-style-desktop;
      text-align: left;
    }
    form {
      input {
        font-size: 20px;
      }
      textarea {
        font-size: 20px;
      }
      button {
        font-size: 20px;
      }
    }
  }
  .business-wrapper {
    h2 {
      @include sub-title-style-desktop;
    }
    a {
      @include text-style-desktop;
    }
  }
  .icon-container-contact {
    font-size: 70px;
  }
  .where-to-wrapper {
    h2 {
      @include sub-title-style-desktop;
    }
  }
}
@media screen and (min-width: 901px) {
  .main-contact-wrapper {
    text-align: start;
    padding-left: 1em;
    .main-title {
      flex-direction: row;
      h1 {
        font-size: 130px;
        margin-top: 0.5em;
        padding-right: 1.5em;
      }
      h2 {
        font-size: variables.$title-size-desktop;
        width: 10em;
        line-height: 50px;
        text-align: right;
      
      }
    }
    .contact-container {
      flex-direction: row;
      align-items: start;

      h2 {
        @include sub-title-style-desktop;
        margin-top: 2em;
      }
      section,
      form {
        width: 50%;
      }
      p {
        @include text-style-desktop;
        text-align: left;
      }
      form {
        margin: 4em 1em;
        input,
        textarea {
          font-size: 20px;
        }
      }
    }
    .where-to-wrapper {
      text-align: center;
      h2 {
        @include sub-title-style-desktop;
    
      }
    }
    .business-wrapper {
      position: absolute;
      top: 580px;
      left: 0;
      width: 50%;
      h2 {
        @include sub-title-style-desktop;
        padding-left: 0.5em;
      }
      a {
        font-size: variables.$text-size-desktop;
      }
    }
  }
}
