@use "../generalities/variables";
main {
  text-align: center;
}

.sub-title-contact {
  padding-left: 0.5em;
}
.main-title {
  .think {
    font-size: 60px;
    line-height: 42px;
  }
  h2 {
    margin-left: 1em;
  }
}
iframe {
  width: 95%;
  height: 250px;
  border: 3px solid variables.$red;
  border-radius: 10px;
}
small {
  text-align: left;
  a {
    padding: 2em;
    text-decoration: none;
    color: variables.$brown;
  }
}
.contact-container {
  @include display-flex;
  flex-direction: column;

  section {
    @include display-flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
  }

  p,
  span {
    width: 100%;
    @include text-style;
    text-align: left;
  }

  h2 {
    padding-left: 0;
  }
}
h2 {
  @include sub-title-style;
  text-align: left;
}
form {
  width: 100%;
  input {
    @include input-style;
  }
  textarea {
    @include input-style;
    margin-top: 0.5em;
  }
  button {
    padding: 1em 2em;
  }
}

textarea::placeholder {
  color: variables.$red;
}

@media screen and (min-width: 415px) and (max-width: 810px) {
  .main-title {
    .think {
      font-size: 94px;
      line-height: 64px;
      padding-right: 0.3em;
    }
  }
  .contact-container {
    h2 {
      @include sub-title-style-desktop;
    }
    p,
    span {
      @include text-style-desktop;
      text-align: left;
    }
  }
  form {
    input {
      font-size: 20px;
    }
    textarea {
      font-size: 20px;
    }
    button {
      font-size: 20px;
    }
  }
  .sub-title-contact {
    @include sub-title-style-desktop;
    text-align: left;
  }
  small {
    a {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 811px) {
  .contact-container {
    flex-direction: row;
    align-items: start;

    h2 {
      @include sub-title-style-desktop;
      margin-top: 2em;
    }
    section,
    form {
      width: 50%;
    }
    p,
    span {
      @include text-style-desktop;
      text-align: left;
    }
    form {
      margin-top: 4em;
      input,
      textarea {
        font-size: 20px;
      }
    }
  }
  .main-title {
    .think {
      font-size: 130px;
    }
  }
  .sub-title-contact {
    @include sub-title-style-desktop;
    text-align: left;
    padding-left: 0.5em;
  }

  iframe{
    height:400px;
  }
  small {
    a {
      font-size: 16px;
    }
  }
}
