@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                           HIDE NAVMENU OFFSCREEN                           */
/* -------------------------------------------------------------------------- */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}
body {
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                    LOGO                                    */
/* -------------------------------------------------------------------------- */

.move-in {
  z-index: 1;
  left: 300px;
  transition: ease-in 0.5s;
}
.move-out {
  left: 20px;
  transition: ease-out 0.5s;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: variables.$red;
  width: 100%;
  height: 5em;
  ul {
    list-style: none;
  }
  img {
    position: absolute;
    width: 110px;
    left: 20px;
    cursor: pointer;
  }
  .nav-menu {
    padding: 0;
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  .nav-option {
    cursor: pointer;
    @include nav-option;
  }
  .nav-option:hover {
    color: variables.$red;
    background-color: variables.$white;
  }

  .menu {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 65%;
    height: 100vh;
    background-color: variables.$red;
    box-shadow: -4px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .hidden {
    right: -400px;
    transition: ease-in 0.5s;
  }
  .visible {
    transition: ease-out 0.5s;
  }
  @media screen and (min-width: 480px) and (max-width: 900px) {
    .hidden {
      right: 0px;
      top: -1000px;
      width: 100%;
      height: 100%;
    }
    .visible {
      right: 0px;
      top: 0px;
      width: 100%;
      height: 50%;
      transition: ease-out 0.5s;
      padding-top: 3em;
    }
  }
  @media screen and (min-width: 901px) {
    .nav-tablet-desktop {
      flex-wrap: nowrap;
      margin-left: 15em;

      li {
        margin: 0 1em;
        margin-top: 3em;
      }
      .nav-option {
        margin: 0;
        padding: 0 1em;
        font-size: 1.5rem;
        border-radius: 15px;
      }
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                                   BURGER                                   */
  /* -------------------------------------------------------------------------- */

  .burger-menu {
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .burger-bar {
    @include burger-style;
  }

  @media screen and (min-width: 480px) and (max-width: 900px) {
    .burger-menu {
      top: 45px;
      right: 50px;
    }
  }
  @media screen and (min-width: 901px) {
    .burger-menu {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                              NAVBAR MEDIAQUERY                             */
/* -------------------------------------------------------------------------- */
.nav-tablet-desktop {
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  nav {
    height: 10em;
    img {
      display: block;
      width: 30%;
    }
    .nav-menu {
      top: 80px;
    }
    .nav-option {
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 901px) {
  nav {
    height: 10em;

    img {
      width: 200px;
    }
  }
  .menu {
    display: none;
  }
  .nav-tablet-desktop {
    margin: 0;
    margin-left: 20em;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 55%;
    .nav-option {
      font-size: 30px;
      border-radius: 15%;
      margin: 1em;
      text-decoration: none;
      list-style: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 REACT ICON                                 */
/* -------------------------------------------------------------------------- */

.react-icon {
  position: absolute;
  top: 20px;
  right: 120px;
  color: variables.$gray;
  z-index: 2;
  cursor: pointer;
  font-size: 40px;
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .react-icon {
    font-size: 50px;
    top: 35px;
    right: 130px;
  }
}
@media screen and (min-width: 901px) {
  .react-icon {
    display: none;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   BUTTON                                   */
/* -------------------------------------------------------------------------- */
.menu {
  text-align: center;
  button {
    @include button;
  }
}
.button:hover {
  @include button-hover;
}
