@use "../generalities/variables";

/* -------------------------------------------------------------------------- */
/*                                    LOGO                                    */
/* -------------------------------------------------------------------------- */

.move-in {
  z-index: 1;
  left: 300px;
  transition: ease-in 0.5s;
}
.move-out {
  left: 20px;
  transition: ease-out 0.5s;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: variables.$red;
  width: 100%;
  height: 5em;

  ul {
    .nav-option {
      @include nav-option;
      border-bottom: 1px solid variables.$gray;
    }
    .nav-option:hover {
      color: variables.$red;
      background-color: variables.$white;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .active {
      border-bottom: 1px solid variables.$gray;
      border-right: 1px solid variables.$gray;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  ul {
    .nav-option-desktop {
      @include nav-option;
      border-radius: 15px;
    }
    .nav-option-desktop:hover {
      color: variables.$red;
      background-color: variables.$white;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .active {
      border-bottom: 1px solid variables.$gray;
      border-right: 1px solid variables.$gray;
      color: variables.$red;
      background-color: variables.$white;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  button {
    margin-top: 5em;
  }
  img {
    position: absolute;
    width: 100px;
    left: 20px;
    top: 5px;
    cursor: pointer;
  }
  .nav-menu {
    padding: 0;
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    list-style: none;
  }

  .menu {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 65%;
    background-color: variables.$red;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100vh;
  }
  .hidden {
    right: -400px;
    transition: ease-in 0.5s;
  }
  .visible {
    transition: ease-out 0.5s;
  }
  @include tablet {
    img {
      width: 200px;
      left: 20px;
      top: 5px;
    }
    .menu {
      height: 560px;
    }
    .hidden {
      right: 0px;
      top: -1400px;
      width: 100%;
    }
    .visible {
      right: 0px;
      top: 0px;
      width: 100%;
      transition: ease-out 0.5s;
      padding-top: 3em;
    }
  }
  @include desktop {
    .nav-tablet-desktop {
      flex-wrap: nowrap;
      li {
        margin-top: 2em;
      }
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                                   BURGER                                   */
  /* -------------------------------------------------------------------------- */

  .burger-menu {
    @include display-flex-column;
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
  }
  .burger-bar {
    @include burger-style;
  }

  @include tablet {
    .burger-menu {
      top: 65px;
      right: 50px;
    }
    .react-icon {
      top: 40px;
      font-size: 70px;
    }
  }

  @include desktop {
    .burger-menu {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                              NAVBAR MEDIAQUERY                             */
/* -------------------------------------------------------------------------- */
.nav-tablet-desktop {
  display: none;
}
@include tablet {
  nav {
    height: 10em;
    .nav-menu {
      top: 120px;
    }
    .nav-option {
      justify-content: center;
      align-items: center;
    }
  }
}
@include desktop {
  nav {
    height: 10em;

    img {
      width: 200px;
    }
  }
  .menu {
    display: none;
  }
  .nav-tablet-desktop {
    margin: 0;
    margin-left: 20em;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 55%;
    .nav-option {
      font-size: 30px;
      border-radius: 15%;
      margin: 1em;
      text-decoration: none;
      list-style: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 REACT ICON                                 */
/* -------------------------------------------------------------------------- */

.react-icon {
  position: absolute;
  top: 20px;
  right: 120px;
  color: variables.$gray;
  z-index: 2;
  cursor: pointer;
  font-size: 40px;
}

@include tablet {
  .react-icon {
    font-size: 50px;
    top: 35px;
    right: 130px;
  }
}

@include desktop {
  .react-icon {
    display: none;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   BUTTON                                   */
/* -------------------------------------------------------------------------- */
.menu {
  text-align: center;
}
